$themes: (
    light: (
        background-color: #fff,
        font-color: #222,
        icon-color: #222,
        input-background: #fff,
        input-font-color: #222,
    ),
    dark: (
        background-color: #222,
        font-color:  #fafafa,
        icon-color: #fafafa,
        input-background: #ccc,
        input-font-color: #222,
    )
);